/*------Container Layout------*/

/*------------Main Layout-------------*/

.title {

    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.row {
    padding: 0 15px 0 15px;
    margin: 0 0 20px 0;
}

/*.poster {
        position: relative;
        padding: 20px;
        background-color: antiquewhite;
}*/

.poster img {
    max-width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.poster:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}





/* Add to Cart button  */

/*
.btn {
        height: 50px;
        background-color: rgba(1, 1, 1, 0.5);
        border: none;
        border-radius: 0 0 0 20px;
        color: #fff;
        padding: 12px 16px;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        z-index: 3;
        right: 0;
}

.btn:hover {
        background-color: dimgray;
}*/
