/*------Container Layout------*/

.article-container {
	display: grid;
	grid-template-columns: 75% 25%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.75)
}

/*-----------Layout-------------*/

.video {
	grid-column: 1;
	grid-row: 1;
}

.suggestionBox {
	grid-column: 2;
	grid-row: 1 / span 3;
	padding: 30px;
}

.detailBox {
	grid-column: 1;
	grid-row: 2;
	height: 100%;
	margin: 10px;
	display: grid;
	grid-template-columns: 30% 35% 35%;
	grid-template-rows: 1/2fr 1/2fr 4fr 4fr;
}

.review {
	grid-column: 1;
	grid-row: 3;
	height: 150px;
	margin: 10px;
}

/*----Video Style----*/

.video iframe {
	padding: 10px;
}

.poster {
	grid-column: 1;
	grid-row: 1/ span 4;
}

.title {
	grid-column: 2 / span 3;
	grid-row: 1;
}

.rating {
	grid-column: 2 / span 3;
	grid-row: 2;
}

.summary {
	grid-column: 2 / span 3;
	grid-row: 3;
}

.detailBox .tags {
	grid-column: 2;
	grid-row: 4;
}

.detailBox .tags2 {
	grid-column: 3;
	grid-row: 4;
}

/*---Summary style---*/

.detailBox .poster img {
	width: 100%;
	border-radius: 5px;
}

.detailBox .title h1 {
	font-size: 25px;
	padding: 15px 30px 0;
}

.detailBox .rating {
	padding: 0 30px;
	color: #f7f406;
	font-size: 16px;
}

.detailBox .rating span {
	padding: 2px 5px;
	margin-right: 2px;
	color: #fff;
	display: inline-block;
	border-radius: 4px;
}

.detailBox .rating .rate {
	background-color: darkred;
}

.detailBox .summary p {
	padding: 0 30px;
	line-height: normal;
}

.detailBox .tags p {
	font-size: 15px;
	padding: 0 0 10px 30px;
	line-height: normal;
}

.detailBox .tags p a {
	text-decoration: none;
	color: dodgerblue;
}

.detailBox .tags p a:hover {
	text-shadow: 0 0 3px #00FFFF;
}

.detailBox .tags2 p {
	padding: 0 0 10px 30px;
	line-height: normal;
}

.detailBox .tags2 p em {
	font-size: 18px;
	color: dodgerblue;
}

/*-Add to cart button--*/

.add {
	margin-top: 5px;
	float: right;
	width: 200px;
	background-color: rgba(1, 1, 1, 0.5);
	border: none;
	border-radius: 10px;
	color: #fff;
	padding: 12px 16px;
	font-size: 20px;
	cursor: pointer;
}

.add:hover {
	background-color: dimgray;
}

/*------Suggestion Box------*/

.suggestionBox {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.suggestionBox .recom {
	padding: 10px;
}

.box img {
	width: 100%;
	border-radius: 10px;
}

.box p {
	margin: 5px 0 15px 0;
}

.box a img:hover {
	box-shadow: 0 0 18px cyan;
	filter: opacity(80%);
}

.box a img:active {
	box-shadow: 0 0 18px yellow;
}
