/*-Shopping Cart Table-*/


/*Submit button style*/

#cekOut {
	color: #fff;
	display: block;
	float: right;
	padding: 10px;
	margin: 15px 20px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 3px 3px rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 20px;
}

#cekOut:hover {
	color: aqua;
	box-shadow: 0 0 3px 3px aqua;
}

/* delete button*/

.trash {
	cursor: pointer;
	height: 30px;
	width: 30px;
	color: #fff;
	float: left;
	margin-left: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	border-style: none;
	border-radius: 50%;
}

.trash:hover {
	color: cyan;
	box-shadow: 0 0 10px 3px cyan;


}
