<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- https://stackoverflow.com/questions/2299469/how-should-i-connect-to-jdbc-database-datasource-in-a-servlet-based-applicatio -->
    <!-- https://stackoverflow.com/questions/11428964/connecting-to-derby-database-with-tomcat-as-the-server -->
    <resource-env-ref>
        <resource-env-ref-name>jdbc/DySpee</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
    <!-- Customer Account -->
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>control.customer.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>control.customer.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>control.customer.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>control.customer.Settings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/account/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/account/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/account/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/account/Settings</url-pattern>
    </servlet-mapping>
    <!-- Cart Management -->
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>control.cart.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>control.cart.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>control.cart.UpdateItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/video/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/checkout/DeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/checkout/UpdateItem</url-pattern>
    </servlet-mapping>
    <!-- Order List -->
    <servlet>
        <servlet-name>NewOrder</servlet-name>
        <servlet-class>control.NewOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOrder</servlet-name>
        <url-pattern>/checkout/NewOrder</url-pattern>
    </servlet-mapping>
    <!-- Staff Operation -->
    <servlet>
        <servlet-name>StaffView</servlet-name>
        <servlet-class>control.staff.StaffView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddItem</servlet-name>
        <servlet-class>control.staff.StaffAddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteItem</servlet-name>
        <servlet-class>control.staff.StaffDeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateProduct</servlet-name>
        <servlet-class>control.staff.StaffUpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSignIn</servlet-name>
        <servlet-class>control.staff.StaffSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSignOut</servlet-name>
        <servlet-class>control.staff.StaffSignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffView</servlet-name>
        <url-pattern>/staff/StaffView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddItem</servlet-name>
        <url-pattern>/staff/StaffAddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteItem</servlet-name>
        <url-pattern>/staff/StaffDeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateProduct</servlet-name>
        <url-pattern>/staff/StaffUpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSignIn</servlet-name>
        <url-pattern>/staff/StaffSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSignOut</servlet-name>
        <url-pattern>/staff/StaffSignOut</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoadProductList</servlet-name>
        <servlet-class>control.LoadProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>control.SearchProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadProductList</servlet-name>
        <url-pattern>/staff/LoadProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/staff/SearchProduct</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
