.main {	
	background-color: rgb(0, 0, 0, 0.8);
        color: white;
}

.title {
	background-color: rgb(34, 34, 34, 0.8);
	color: white;
        text-shadow: 0 0 5px #426bf4, 0 0 10px #426bf4;
}


.aim {
	text-align: center;
}

.movie:hover,
.aim:hover {
	box-shadow: 0 0 3px 3px rgb(4, 145, 180);
}
