.main{
	background-color: rgba(51, 51, 51, 0.8);
}

.title {
	
	background-color: rgba(34, 34, 34, 0.8);
	border-radius: 15px;
	
        padding: 0; 
        color: white;
        text-shadow: 0 0 5px #426bf4, 0 0 10px #426bf4;
        margin-bottom: 10px;
}
.contact{
   width:100%;
   height:auto;
   position: relative;
   text-align: center;
   border-radius: 15px;
}
.word{
	color: white;
}

.text{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*.image {
	padding: 20px 10px 20px 10px;
	display: inline-block;
	border-radius: 15px;
}*/

/*.image:hover {
	transform: scale(1.1);
}*/

.submit {
	color: #900;
	background: #FFF;
	font-weight: bold;
        float: right;
}


button:active {
	border-color: aqua;
}

.bordered {
    
    padding: 20px;
    border: 10px inset grey;
  }
