

#faq {
	font-size: 80px;
}

#description {
	font-size: 20px;
	text-align: right;
}

#title {

	width: 84%;
	height: 150px;
	padding: 0 8% 0 8%;
	color: white;
	text-shadow: 0 0 5px #426bf4, 0 0 10px #426bf4;
}
.card {
    margin: 10px;
}