@import url('https://fonts.googleapis.com/css?family=Roboto');

/* HEADER BAR */

.header-bar {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 64, 0.8));
	width: 100%;
}

.header-container {
	padding: 10px;
	min-width: 600pt;
	max-width: 920pt;
	width: 95%;
	margin: auto;
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: 20% 40% 30% 10%;
	grid-template-rows: 120px auto;
}

.header-header {
	margin: 0 auto;
}

.header-header img {
	height: 100%;
}

.header-title {
	margin: 0 auto;
	color: white;
	font-size: 2em;
}

.header-title img {
	height: 100%;
}

.header-searchbar {
	text-align: left;
	vertical-align: middle;
	margin: auto;
}

.header-searchbar input {
	margin: 0;
	float: left;
	padding: 6px;
	border-radius: 20px 0 0 20px;
	border: none;
	font-size: 20px;
}

.header-searchbar button {
	margin: 0;
	float: left;
	padding: 5px 12px;
	background: #ddd;
	border-radius: 10%;
	border: none;
	border-radius: 0 20px 20px 0;

	cursor: pointer;
}

.header-cart{
	margin: auto;
}


/* NAVIGATION BAR */

.nav-bar {
	background: linear-gradient(to bottom, rgba(0, 0, 64, 0.8), rgba(0, 0, 127, 0.0));
	width: 100%;
}

.nav-container {
	padding: 5px;
	min-width: 600pt;
	max-width: 920pt;
	width: 95%;
	margin: auto;
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.nav-container a {
	text-decoration: none;
	color: white;
}

.nav-container a:hover,
.nav-item-dropdown a:hover {
	text-decoration: none;
}

.nav-item {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.5em;
	font-size: 1.5em;
	color: white;
	text-align: left;
	background-repeat: no-repeat;
	background-position: 95% center;
	background-size: 32px 32px;
}

.nav-item:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.nav-item-dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.5em;
	color: white;
	text-align: left;
}

.nav-item:hover .nav-item-dropdown {
	display: block;
}

#TVSeries {
	grid-column: 1;
	grid-row: 1;
	background-image: url(image/TVSeries.svg);
}

#Movies {
	grid-column: 2;
	grid-row: 1;
	background-image: url(image/Movies.svg);
}

#Promotions {
	grid-column: 3;
	grid-row: 1;
	background-image: url(image/Promotions.svg);
}

#About {
	grid-column: 4;
	grid-row: 1;
	background-image: url(image/About.svg);
}

#Account {
	grid-column: 5;
	grid-row: 1;
	background-image: url(image/Account.svg);
}


/* BODY */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0pt auto auto auto;
	font-size: 16px;
	background-image: url(image/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

a {
	color: rgb(153, 204, 255);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: rgba(255, 255, 255, 0.1)
}

.article-container {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 15px;
	padding-bottom: 15px;
	min-width: 600pt;
	max-width: 920pt;
	width: 95%;
	margin: auto;
	justify-content: space-around;
}

.article-item {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px 0px white;
	font-size: 1.5em;
	text-align: left;
	background-repeat: no-repeat;
	background-position: 95% center;
}

div header {
	background-color: rgba(0, 0, 200, 0.5);
	padding: 10px;
	font-size: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

div article {
	padding: 10px;
}

div h1 {}

div p {
	font-size: 15px;
	line-height: 1.5em;
}

/* Footer layout and style */

.footer {
	color: aliceblue;
	margin: auto;
	padding: 0;
	width: 100%;
	background-color: #333;
	display: grid;
	grid-template-columns: 15% 15% 30% 15% 25%;
}

.footer-box {
	padding: 20px;
}

#foot1 {
	padding-left: 100px;
}

.footer img[src="../layout/image/DySpee.png"] {
	width: 100%;
}

.footer img[src="../layout/image/DySpeeOnline.png"] {
	position: relative;
	top: 35px;
	right: 70px;
	width: 100%;
}

.footer ul li {
	list-style: none;
	display: block;
	padding: 5px;
}

.footer ul li a {
	text-decoration: none;
	color: aliceblue;
}

.footer ul li a:hover {
	text-decoration: none;
	text-shadow: 0 0 3px #9ecaed;
}

.message-container {
    background-color: rgba(63, 191, 63, 0.50);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 590pt;
    max-width: 910pt;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}