.title {

	color: aliceblue;
	background-color: rgb(34, 34, 34, 0.8);
	text-shadow: 0 0 5px #426bf4, 0 0 10px #426bf4;
	border-radius: 15px;
}

.other {
        height: 400px;
	overflow-y: scroll;

}

.side {

	width: 100%;
	height: auto;
	margin-bottom: 5px;
}
