body {
	background-image: url(../Image/minimalist-space-z8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	color: #fff;
	background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.50));
	display: grid;
	grid-template-columns: 60% 40%;
}

.row1 {
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px rgb(224, 255, 255);
}

/*-Shopping Cart Table-*/

#cartTable {
	width: 100%;
	border-radius: 10px;
}

#cartTable:hover {
	box-shadow: 0 0 20px 5px rgb(0, 255, 255);
	background-color: rgba(0, 0, 0, 0.75);
}

label > img {
	width: 50px;
}

.item img {
	width: 100px;
	margin-left: -50px;
}

input[type="number"] {
	width: 50px;
}


/* Order Summary Table */

.ordTable {
	margin: 15px;
	padding: 15px;
	border-radius: 10px;
}

.ordTable:hover {
	box-shadow: 0 0 20px 5px rgb(0, 255, 255);
	background-color: rgba(0, 0, 0, 0.75);
}

caption {
	margin: 10px;
	font-size: 25px;
	font-weight: bold;
}

th,
td {
	padding: 5px;
	text-align: center;
}

em {
	font-weight: bold;
	color: #FFFF00;
}

img[src="images/blu-ray-icon.ico"] {
	width: 40px;
}

img[src="images/DVD-icon.png"] {
	width: 40px;
}

/*Submit button style*/

#cekOut {
	color: #fff;
	display: block;
	float: right;
	padding: 10px;
	margin: 15px 20px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 3px 3px rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 20px;
}

#cekOut:hover {
	color: aqua;
	box-shadow: 0 0 3px 3px aqua;
}

/* delete button*/

.trash {
	cursor: pointer;
	height: 30px;
	width: 30px;
	color: #fff;
	float: left;
	margin-left: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	border-style: none;
	border-radius: 50%;
}

.trash:hover {
	color: cyan;
	box-shadow: 0 0 10px 3px cyan;


}
