@charset "utf-8";

.main {
    display: grid;
    background-color: rgba(41,36,33,0.8);
}


#faq{
    font-size: 80px;
}

#description{
    font-size: 20px;
    text-align: right;
}

#title{
    background-color: rgb(34, 34, 34,0.8);
    margin: 0;
    width: 84%;
    height: 150px;
    padding: 0 8% 0 8%;
    color: antiquewhite;
    border-radius: 15px;
    text-shadow: -3px 3px 0px rgba(150, 150, 150, 0.59);
}

.question {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    margin: 15px auto 0px auto;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .question:hover {
    background-color: #ccc;
}

.question:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.answer {
    padding: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    width: 80%;
    text-align: center;
    margin: 0px auto 0px auto;
    transition: max-height 0.2s ease-out;
    
}

#contactus{
    display: block;
    padding: 15px 15px 15px 15px;
    color: cornflowerblue;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: cyan;
}
a:hover{
    color: blue;
}
a:visited{
    color:blueviolet;
}

img[src="fa0e76bbea68a8aad06e9c4bd9912962.jpg"]{
    height: 25px;
    width: 15px;
}

body{
    background-attachment: fixed;
    
}